html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.mail-form {
    margin-top: 50px;
    margin-bottom: 50px;
}


main {
    position: relative;
    padding-bottom: 150px;
    /* margin: 50px; */
}

footer {
    position: absolute;
    bottom: 0;
    /* margin-top: -156px; */
    height: 56px;
    width: 100%;
}

.btn-send {
    background-color: darkgoldenrod;
    color: white;
}

.object {
    color: lightblue;
}

.method {
    color: lemonchiffon;
}